    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
    :root{
        --bg-color-nav:sandybrown;
        --box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
        --box-shadow-rotate: -0.4em -0.4em -5px rgba(122,122,122,0.5)
    }
    body {
        margin: 0;
        padding: 0;
        font-family: 'Comfortaa', cursive;
    }
    .collapse{
        justify-content: space-around;
    }
    .nav-item{
        margin-left: 10px;
        margin-right:  10px;
    }
    
    #grid{
        grid-template: repeat(1fr,10)/repeat(1fr,10);
    }